{% extends "base.html" %}
{% load static %}

{% block page_header %}
  
{% endblock %}

{% block content %}

<div class="section">

{% include 'includes/carousel.html' %}
</div>

    <hr class="featurette-divider">
	<div class="container marketing">

		<!-- My info section -->
		<section>
			<div class="container">
				<div class="row shadow p-3 mb-5 bg-white rounded">
					<!-- single features -->
					<div class="col-lg-3 col-md-6 col-sm-6 text-center">
						<i class="fas fa-truck fa-2x p-3"></i>
						<h6>Quick Delivery</h6>
						<p>Faster than you can imagine</p>
					</div>
					<!-- single features -->
					<div class="col-lg-3 col-md-6 col-sm-6 text-center">
						<i class="fas fa-undo-alt fa-2x p-3"></i>
						<h6>Return Policy</h6>
						<p>Returns available on all order</p>
					</div>
					<!-- single features -->
					<div class="col-lg-3 col-md-6 col-sm-6 text-center">
						<i class="fas fa-headset fa-2x p-3"></i>
						<h6>24/7 Support</h6>
						<p>Keeping You Always Connected</p>
					</div>
					<!-- single features -->
					<div class="col-lg-3 col-md-6 col-sm-6 text-center">
						<i class="fas fa-money-check fa-2x p-3"></i>
						<h6>Secure Payment</h6>
						<p>100% Secure Purchase Payment</p>
					</div>
				</div>
			</div>
		</section>
	</div>


<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="{{ MEDIA_URL }}shop3.jpg" alt="">
							</div>
							<div class="shop-body">
								<h3>Laptop<br>Collection</h3>
								<a href="{% url 'products' %}?category=computers_tablets" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /shop -->

					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="{{ MEDIA_URL }}shop1.jpg" alt="">
							</div>
							<div class="shop-body">
								<h3>Accessories<br>Collection</h3>
								<a href="{% url 'products' %}?category=cell_Phones_accessories" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /shop -->

					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="{{ MEDIA_URL }}shop2.jpg" alt="">
							</div>
							<div class="shop-body">
								<h3>Watches<br>Collection</h3>
								<a href="{% url 'products' %}?category=watches_jewelery" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /shop -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

    
   
<!-- Products showcase -->
   
        <div class="text-center pt-5">
            <a href="{% url 'products' %}" class="btn btn-dark rounded-0 btn-lg btn-home-products " >View More Products</a>
        </div>

     

{% endblock %}

